body {
  margin: 2rem;
  font-family: Menlo, Consolas, monospace;
  font-size: 22px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@media (max-width: 480px) {
  body {
    margin: 1.75rem;
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  body {
    margin: 1.5rem;
    font-size: 16px;
  }
}
